version: 2.1

jobs:
  pre-commit:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Install pre-commit
          command: pip install pre-commit
      - run:
          name: Run pre-commit hooks
          command: pre-commit run --all-files

workflows:
  pre-commit-workflow:
    jobs:
      - pre-commit
